# macOS
.DS_Store
._*

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Backup files
*_BACKUP.csv
*.bak
